<p>server component works!</p>
<label>ServerName</label>
<!-- <input
type="text"
class="form-control"
(input)="onUpdateServer($event)"> -->
<input
    type="text" class="form-control" [(ngModel)]="ServerName">
    <!-- <p>{{ ServerName }}</p> -->
    <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
        Add Server</button>
    <!-- <P>{{ allowNewServer}}</P> -->
    <!-- <p [innerText] = "allowNewServer"></p> -->
    <p *ngIf="ServerCreated; else noServer">Server was created ,server name is
        {{ ServerName}}</p>
    <ng-template #noServer>
        <p>
            No server was created!!!
        </p>
    </ng-template>
    <P>{{ serverCreationStatus }}</P>
    <p [ngStyle]="{ backgroundColor: getColor()}" [ngClass]="{online: serverStatus === 'online' }">
        {{'server'}}
        with id
        {{ serverId }}
        is
        {{ getServerStatus() }}
    </p>
